NeatVibezPOS/Connected Services/NeatVibez_Server/NeatVibez Server6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dependencies" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dependencies" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemType" nillable="true" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemType" nillable="true" type="tns:ArrayOfItemType" />
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemType" nillable="true" type="tns:ItemType" />
  <xs:complexType name="ArrayOfWarehouse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Warehouse" nillable="true" type="tns:Warehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouse" nillable="true" type="tns:ArrayOfWarehouse" />
  <xs:complexType name="Warehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Warehouse" nillable="true" type="tns:Warehouse" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authority" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="authority" type="xs:int" />
      <xs:element minOccurs="0" name="customer_card_edit" type="xs:boolean" />
      <xs:element minOccurs="0" name="discount_edit" type="xs:boolean" />
      <xs:element minOccurs="0" name="expenses_add" type="xs:boolean" />
      <xs:element minOccurs="0" name="inventory_edit" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="openclose_edit" type="xs:boolean" />
      <xs:element minOccurs="0" name="personnel_edit" type="xs:boolean" />
      <xs:element minOccurs="0" name="price_edit" type="xs:boolean" />
      <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receipt_edit" type="xs:boolean" />
      <xs:element minOccurs="0" name="settings_edit" type="xs:boolean" />
      <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="users_edit" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="buyPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="customerAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerID" type="xs:int" />
      <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="sellPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="sellPriceTax" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FavoriteCategory" type="xs:int" />
      <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemBuyPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ItemPriceTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="ItemQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="ItemTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ProductionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QuantityEnd" type="xs:int" />
      <xs:element minOccurs="0" name="QuantityWarning" type="xs:int" />
      <xs:element minOccurs="0" name="Warehouse_ID" type="xs:int" />
      <xs:element minOccurs="0" name="customerPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="favoriteCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itemNewBarCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itemTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="saleRate" type="xs:int" />
      <xs:element minOccurs="0" name="vendorQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="warehouseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfBill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bill" nillable="true" type="tns:Bill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBill" nillable="true" type="tns:ArrayOfBill" />
  <xs:complexType name="Bill">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemsBought" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="PaidAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayByCash" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemainderAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="billNumber" type="xs:int" />
      <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itemsBought" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="paidAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="paybycash" type="xs:boolean" />
      <xs:element minOccurs="0" name="remainderAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="totalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bill" nillable="true" type="tns:Bill" />
</xs:schema>