PlancksoftPOS Receipt Print Server/Connected Services/PlancksoftPOS_Server/PlancksoftPOS62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://192.168.1.29/PlancksoftPOSSOAP/PlancksoftPOS.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://192.168.1.29/PlancksoftPOSSOAP/PlancksoftPOS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Dependencies" />
  <xs:import schemaLocation="https://192.168.1.29/PlancksoftPOSSOAP/PlancksoftPOS.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="CheckConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSystemSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSystemSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveSystemSettingsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SystemLogo" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="SystemPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SystemAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SystemReceiptBlankSpaces" type="xs:int" />
        <xs:element minOccurs="0" name="SystemIncludeLogoInReceipt" type="xs:int" />
        <xs:element minOccurs="0" name="SystemTax" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSystemSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillSoldBItemQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillNumber" type="xs:int" />
        <xs:element minOccurs="0" name="itemBarcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillSoldBItemQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveBillSoldBItemQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemTypeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemTypeIndex" type="xs:int" />
        <xs:element minOccurs="0" name="locale" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemTypeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveItemTypeNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWarehouseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WarehouseIndex" type="xs:int" />
        <xs:element minOccurs="0" name="locale" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWarehouseNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveWarehouseNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFavoriteCategoryName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryIndex" type="xs:int" />
        <xs:element minOccurs="0" name="locale" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFavoriteCategoryNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveFavoriteCategoryNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCashierNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCashierNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RetrieveCashierNamesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemTypeID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemTypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemTypeIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveItemTypeIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWarehouseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WarehouseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWarehouseIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveWarehouseIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFavoriteCategoryID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFavoriteCategoryIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveFavoriteCategoryIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePrinterItemTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePrinterItemTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrievePrinterItemTypesResult" nillable="true" type="q2:ArrayOfItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveItemTypesResult" nillable="true" type="q3:ArrayOfItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWarehouses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWarehousesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveWarehousesResult" nillable="true" type="q4:ArrayOfWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFavoriteCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFavoriteCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveFavoriteCategoriesResult" nillable="true" type="q5:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePrinters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePrintersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrievePrintersResult" nillable="true" type="q6:ArrayOfPrinter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLoginLogoutInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLoginLogoutInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveLoginLogoutInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUsersList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUsersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveUsersListResult" nillable="true" type="q7:TupleOfArrayOfAccountDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetrieveClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetrieveClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRetrieveClientsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetrieveVendors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetrieveVendorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRetrieveVendorsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="AccountToRegister" nillable="true" type="q8:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogLogout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogLogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="AccountToLogin" nillable="true" type="q9:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LoginResult" nillable="true" type="q10:TupleOfbooleanstringbooleanboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="AccountToRegister" nillable="true" type="q11:Account" />
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdminOrNot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrinterItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerID" type="xs:int" />
        <xs:element minOccurs="0" name="itemTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPrinterItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPrinterItemTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrinterItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerID" type="xs:int" />
        <xs:element minOccurs="0" name="itemTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrinterItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePrinterItemTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrinter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePrinterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePrinterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavoriteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavoriteItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFavoriteItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFavoriteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemQuantity" type="xs:int" />
        <xs:element minOccurs="0" name="ItemPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="ItemPriceTax" type="xs:decimal" />
        <xs:element minOccurs="0" name="Category" type="xs:decimal" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFavoriteItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFavoriteItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRegisterClose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moneyInRegister" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRegisterCloseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRegisterCloseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRegisterOpen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="moneyInRegister" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRegisterOpenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRegisterOpenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchWarehouseInventoryItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WarehouseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchWarehouseInventoryItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SearchWarehouseInventoryItemsResult" nillable="true" type="q12:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInventoryItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locale" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInventoryItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SearchInventoryItemsResult" nillable="true" type="q13:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInventoryItemsWithBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchInventoryItemsWithBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="SearchInventoryItemsWithBarCodeResult" nillable="true" type="q14:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUnPortedBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUnPortedBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveUnPortedBillsResult" nillable="true" type="q15:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePortedBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePortedBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrievePortedBillsResult" nillable="true" type="q16:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUnpaidBills">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUnpaidBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveUnpaidBillsResult" nillable="true" type="q17:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveVendorBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveVendorBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveVendorBillsResult" nillable="true" type="q18:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTaxZReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTaxZReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveTaxZReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBills">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveBillsResult" nillable="true" type="q19:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUnprintedBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUnprintedBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveUnprintedBillsResult" nillable="true" type="q20:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveReprintedBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveReprintedBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveReprintedBillsResult" nillable="true" type="q21:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillsRefund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillsRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveBillsRefundResult" nillable="true" type="q22:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCapitalRevenue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCapitalRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveCapitalRevenueResult" nillable="true" type="q23:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveExports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveExportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveExportsResult" nillable="true" type="q24:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveImports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveImportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveImportsResult" nillable="true" type="q25:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLeastBoughtItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLeastBoughtItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveLeastBoughtItemsResult" nillable="true" type="q26:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMostBoughtItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMostBoughtItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveMostBoughtItemsResult" nillable="true" type="q27:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAccountAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAccountAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveAccountAuthorityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUserPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUserPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveUserPermissionsResult" nillable="true" type="q28:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemPictureFromBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemPictureFromBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveItemPictureFromBarCodeResult" nillable="true" type="q29:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemsQuantityDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemsQuantityDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveItemsQuantityDatesResult" nillable="true" type="q30:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locale" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveItemsResult" nillable="true" type="q31:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveEmployeesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveUsersResult" nillable="true" type="q32:TupleOfArrayOfAccountDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveClientBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveClientBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveClientBillsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveVendorBillItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveVendorBillItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveVendorBillItemsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveBillItemsResult" nillable="true" type="q33:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillItemsRefund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillItemsRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveBillItemsRefundResult" nillable="true" type="q34:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillItemsProfit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="CashierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveBillItemsProfitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveBillItemsProfitResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveReturnedItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveReturnedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveReturnedItemsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFavoriteItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Category" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveFavoriteItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveFavoriteItemsResult" nillable="true" type="q35:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapitalAmount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapitalAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapitalAmountResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenRegisterAmount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenRegisterAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOpenRegisterAmountResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalSalesAmountCloseCash">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalSalesAmountCloseCashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalSalesAmountCloseCashResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalSalesAmount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalSalesAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalSalesAmountResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastOpenRegisterDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastOpenRegisterDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastOpenRegisterDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpenseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExpenseCost" type="xs:decimal" />
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertExpenseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDeduction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Deduction" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDeductionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDeductionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDayOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDayOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDayOffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAbsence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Hours" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAbsenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAbsenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Salary" type="xs:decimal" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="ItemToInsert" nillable="true" type="q36:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteItemTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WarehouseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWarehouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavoriteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FavoriteCategoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavoriteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFavoriteCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="ClientToUpdate" nillable="true" type="q37:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClientVendorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="ItemTypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateItemTypesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWarehouses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WarehouseID" type="xs:int" />
        <xs:element minOccurs="0" name="WarehouseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWarehousesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWarehousesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFavoriteCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FavoriteCategoryID" type="xs:int" />
        <xs:element minOccurs="0" name="FavoriteCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFavoriteCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFavoriteCategoriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrinters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="printerID" type="xs:int" />
        <xs:element minOccurs="0" name="printerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isMainPrinter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePrintersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePrintersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertItemType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemTypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertItemTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertItemTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WarehouseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertWarehouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFavoriteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FavoriteCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFavoriteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFavoriteCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPrinter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPrinterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPrinterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="ClientToInsert" nillable="true" type="q38:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="ClientToInsert" nillable="true" type="q39:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterVendorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAbsence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AbsenceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAbsenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAbsenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="UserToUpdate" nillable="true" type="q40:Account" />
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaleOnItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="saleItems" nillable="true" type="q41:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaleOnItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSaleOnItemsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="ClientPrice" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemToClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddItemToClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUnpaidBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="billToAdd" nillable="true" type="q42:Bill" />
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUnpaidBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUnpaidBillResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVendorBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="billToAdd" nillable="true" type="q43:Bill" />
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVendorBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddVendorBillResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayUnpaidBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillNumber" type="xs:int" />
        <xs:element minOccurs="0" name="paidAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayUnpaidBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayUnpaidBillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="billToAdd" nillable="true" type="q44:Bill" />
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayBillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Salary" type="xs:decimal" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="UserToUpdate" nillable="true" type="q45:Account" />
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AdminOrNot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillNumber" type="xs:int" />
        <xs:element minOccurs="0" name="CashierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="PaidAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="RemainderAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemQuantity" type="xs:int" />
        <xs:element minOccurs="0" name="cashierName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BillID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReturnItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="ItemsToUpdate" nillable="true" type="q46:ArrayOfItem" />
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EntryExitType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateItemWarehouseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="ItemToUpdate" nillable="true" type="q47:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="ItemToUpdate" nillable="true" type="q48:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateItemQuantityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLastVendorBillNumberToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLastVendorBillNumberTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveLastVendorBillNumberTodayResult" nillable="true" type="q49:Bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLastBillNumberToday">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLastBillNumberTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveLastBillNumberTodayResult" nillable="true" type="q50:Bill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemsQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveItemsQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveItemsQuantityResult" nillable="true" type="q51:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSaleItemsQuantity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSaleItemsQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveSaleItemsQuantityResult" nillable="true" type="q52:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveExpireStockToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveExpireStockTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveExpireStockTodayResult" nillable="true" type="q53:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSaleToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="QuantityEnd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveSaleTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Dependencies" minOccurs="0" name="RetrieveSaleTodayResult" nillable="true" type="q54:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTodayBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTodayBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SearchTodayBillsResult" nillable="true" type="q55:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BillNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SearchBillsResult" nillable="true" type="q56:TupleOfArrayOfBillDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemQuantityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAbsence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Date2" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAbsenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveAbsenceResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchExpenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExpenseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchExpensesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchExpensesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemBarCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SearchItemsResult" nillable="true" type="q57:TupleOfArrayOfItemDataTablex3XxKQzD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchClientsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClientsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClientsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchClientsInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>